/*=============================================

=              Mobile Navigation              =

=============================================*/
html {
	scroll-behavior: smooth !important;
}

.swiper {
	height: 100% !important;
	width: 100% !important;
	overflow-x: scroll !important;
}

@media only screen and (min-width: 320px) {
	.swiper-slide {
		height: 6.2rem !important;
		width: 10rem !important;
	}
}

@media only screen and (min-width: 768px) {
	.swiper-slide {
		height: 7rem !important;
		width: 14rem !important;
	}
}

.swiper-slide:first-child {
	margin-left: 10px !important;
}
